<!DOCTYPE html>
<html>
  <%- include partials/head %>
  <body>
    <%- include partials/menu %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>


    <%- include partials/scripts %>
  </body>
</html>
